* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-noto-sans), 'Noto Sans KR', sans-serif;
}
@font-face {
  font-family: 'a시네마체';
  src: url('/fonts/a시네마L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '부크크고딕';
  src: url('/fonts/BookkGothic_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '부크크명조';
  src: url('/fonts/BookkMyungjo_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '을유1945';
  src: url('/fonts/eEulyoo1945-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '이롭게바탕체';
  src: url('/fonts/IropkeBatangM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '마루부리';
  src: url('/fonts/MaruBuri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '경기천년바탕체';
  src: url('/fonts/경기천년바탕_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '원티드산스';
  src: url('/fonts/WantedSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '은바탕';
  src: url('/fonts/UnBatang.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '나눔스퀘어';
  src: url('/fonts/NanumSquareR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/Pretendard-Regular.woff2') format('woft2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KoPub바탕';
  src: url('/fonts/KoPubWorld Batang Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KoPub돋음';
  src: url('/fonts/KoPubWorld Dotum Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '리디바탕';
  src: url('/fonts/RIDIBatang.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '본고딕';
  src: url('/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '본명조';
  src: url('/fonts/NotoSerifKR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '나눔고딕';
  src: url('/fonts/NanumGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '나눔명조';
  src: url('/fonts/NanumMyeongjo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}